html {
  background-image: url("../Images/Backgrounds/pinstripePurpleDarkBlueYellowBackground.png");
  background-repeat: repeat;
}

body {
  background: rgb(255, 205, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 205, 0, 1) 0%,
    rgba(173, 71, 109, 1) 35%,
    rgba(0, 212, 255, 0) 35%
  );
  height: 100vh;
}

.dark-purple-text {
  color: #2e1720;
}

.purple-red-text {
  color: #ba144e;
}

.lambo-yellow-text {
  color: #ffaa00;
}

.gunmetal-text {
  color: #362c19;
}

.icon-row {
  height: 50px;
}
.icon-style {
  height: 30px;
  width: 30px;
}

.form-warning-text {
  font-size: 14px;
}
