<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <!-- FILTERS ************************************************************************************************************8 -->
  <filter>
    <display-name>JsonFilter</display-name>
    <filter-name>JsonFilter</filter-name>
    <filter-class>
      com.revature.SecurityFlters.JsonFilter
    </filter-class>
  </filter>

  <filter-mapping>
    <filter-name>JsonFilter</filter-name>
    <url-pattern>/apiroot/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionCheckerFilter</display-name>
    <filter-name>
      SessionCheckerFilter
    </filter-name>
    <filter-class>com.revature.SecurityFlters.SessionCheckerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckerFilter</filter-name>
    <url-pattern>/apiroot/user/employee/*</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>FinanceManagerAccountPermissionFilter</filter-name>
    <filter-class>com.revature.SecurityFlters.FinanceManagerAccountPermissionFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>FinanceManagerAccountPermissionFilter</filter-name>
    <url-pattern>/apiroot/user/financemanager/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.revature.SecurityFilters.CorsFIlter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- SERVLETS  **************************************************************************************************** -->

  <servlet>
    <description>Servlet mapped to login URI</description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/apiroot/user/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/apiroot/user/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.revature.Servlets.CreateUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>
    /apiroot/createuser
    </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetAllTicketsByUsernameServlet</servlet-name>
    <servlet-class>com.revature.Servlets.GetAllTicketsByUsernameServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllTicketsByUsernameServlet</servlet-name>
    <url-pattern>/apiroot/user/employee/servicereciepts/getallbyusername</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetAllTicketsServlet</servlet-name>
    <servlet-class>com.revature.Servlets.GetAllTicketsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllTicketsServlet</servlet-name>
    <url-pattern>/apiroot/user/financemanager/servicereciepts/getalltickets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateReimbReqServlet</servlet-name>
    <servlet-class>com.revature.Servlets.CreateReimbursmentRequestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateReimbReqServlet</servlet-name>
    <url-pattern>/apiroot/user/employee/servicereciepts/createticket</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeReimbStatusServlet</servlet-name>
    <servlet-class>com.revature.Servlets.ChangeTicketStatusStateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangeReimbStatusServlet</servlet-name>
    <url-pattern>/apiroot/user/financemanager/servicereciepts/updatestatus</url-pattern>
  </servlet-mapping>
</web-app>